/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0px;
}
.container {
  height: 100vh;
  background-size: cover;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  color: #f8fafc;
}
.imageContainer {
  width: 200px;
}
